@{
    ViewData["Title"] = "Blank Page";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


 <div style="background:url('https://www.worldwide.com/wp-content/uploads/2022/05/Blog-Image-Rare-FlippingTheScript-1.jpg');background-size:cover;">
<pre>




















</pre>
</div>